ProxyMode=socket
FromChainHttps=https://ropsten.infura.io/v3/yourkey
FromChainWss=wss://ropsten.infura.io/ws/v3/yourkey
ToChainHttps=https://http-testnet.hecochain.com
ToChainWss=wss://ws-testnet.hecochain.com
EnclaveProxyRPCPort=50055
EnclaveURL=host.docker.internal:8000
