###########################common###########################
# settings
BridgeSettingsType=local
CloudServiceURL=http://host.docker.internal:5001
BridgeSettingsFilename=bridge_settings_1.json

# RPC
MainnetETHHttps=https://http-mainnet.hecochain.com
FromChainHttps=https://ropsten.infura.io/v3/yourkey
FromChainWss=wss://ropsten.infura.io/ws/v3/yourkey
ToChainHttps=https://http-testnet.hecochain.com
ToChainWss=wss://ws-testnet.hecochain.com

#postgres
PgHost=host.docker.internal
PgPort=5432
PgUser=postgres
PgPassword=password
PgDb=warden1

#pulsar
PulsarURL=pulsar://host.docker.internal:6650
PulsarOnboardTopic=warden1OnboardTxn1
PulsarOnboardSubscriptionName=onboardTxnSub
PulsarSettingsTopic=warden1Settings1
PulsarSettingsSubscriptionName=settingsSub
##########################common###########################

###########################EnclaveProxy###########################
ProxyMode=socket
WardensConfPath=warden.json
EnclaveProxyRPCPort=50055
EnclaveURL=host.docker.internal:8000
###########################EnclaveProxy###########################

###########################WardenServer###########################
WardenRPCPort=50051

# credential
CredentialType=local
CredentialFilePath=credential.txt

# share
ShareFilePath=share.txt
IdentificationFilePath=identification.txt

# enclave
EnclaveProxyRPC=host.docker.internal:50055
###########################WardenServer###########################
